@charset "utf-8";
/* CSS Document */
body{
	/*background-image:url(../images/appback.jpg) no-repeat; */
	background-color:#636;
	}
.wraper
	{
		width:100%;
		margin:0 auto;
		text-align:center;
	    
	}
	.toggleDiv
	{
		width:98%; background:#999; color:#FFF; border-radius:5px; margin: 0 auto; display:none;
	}
	.toggleDiv ul li a
	{
		text-decoration:none;
		color:#FFF;	
	}
	.airportsDiv
	{
		width:98%; background:#999; color:#FFF; border-radius:5px; margin: 0 auto;
		text-align:center;
	}
	.airports
	{
		width:200px;
		border:1px solid;
		background-color:#CCC;
	}
	imgDiv
	{
		border:1px solid;
	}
	detailDiv
	{
		
		font:Verdana, Geneva, sans-serif;
		
	}
	.detailDiv label
	{
		font-weight:bold;
		color:#FFF;
	}
	.detailDiv span
	{
		color:#CCC;
		
	}
	.profile
	{
		font:Verdana, Geneva, sans-serif;
		color:#CCC;
		text-align:justify;
		padding:5px;
	}